# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/
.expo/
dist/
web-build/
.vercel/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
